body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header and Main Styling */

header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#header-main {
    background-color: #1f2937;
    padding: 0px 100px;
}

main {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

#title-and-description {
    margin-right: 15px;
}

#placeholder {
    text-align: center;
    width: 500px;
    height: auto;
    background-color: #6c747d;
    padding: 75px;
    margin-left: 15px;
    color: #e5e7eb;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    column-gap: 25px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

#title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

#website-description {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 10px 0;
}

#description-button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    padding: 8px 25px;
    border-radius: 7px;
}

/* Random-info styling */
#random-info {
    display: flex;
    justify-content: center;
    padding: 0 200px 50px 200px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.info {
    border: solid 4px;
    border-color: #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

#info-1, #info-2, #info-3, #info-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure > figcaption {
    text-align: center;
    font-size: 18px;
}

figure {
    justify-self: center;
}

/* Styling for quote and action sections */

.quote {
    background-color: #e5e7eb;
    margin: 0;
    padding: 70px 100px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    color: #1f2937;
    margin-bottom: 0;

}

.quote > figcaption {
    text-align: end;
    margin: 0 40px;
}

#action {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    color: #f9faf8;
    border-radius: 10px;
}

#action-button {
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #e5e7eb;
    padding: 8px 25px;
    border-radius: 7px;
}

h4 {
    margin-bottom: 0;
}

#action-content > p {
    margin-top: 0;
}

/* Styling for footer */
footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}